@page "/Register"
@inject IUserServices _userServices
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager

<div class="single_post">
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="post_content text-center">
                <h3>ثبت نام</h3>
                <main>
                    <EditForm Model="AccountDTO" OnValidSubmit="@(async () => await HandleRegister())">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-group">
                            <label>نام کاربری</label>
                            <InputText @bind-Value="AccountDTO.UserName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>پسورد</label>
                            <input type="password" class="form-control" @bind-value="AccountDTO.Password" />
                        </div>

                        <input type="submit" class="btn btn-success" style="width: 100%" value="ثبت نام" />
                    </EditForm>
                </main>
            </div>
        </div>
    </div>
</div>

<div class="clear-fix"></div>

@code {

    public LoginAndRegisterDTO AccountDTO { get; set; } = new LoginAndRegisterDTO();

    public async Task HandleRegister()
    {
        if (!await _userServices.ExistUser(p => p.UserName == AccountDTO.UserName))
        {

            await _userServices.RegisterUser(AccountDTO);

            await _jsRuntime.InvokeVoidAsync("SweetAlert", "ثبت نام با موفقیت انجام شد", "success");

            await Task.Delay(5000);

            await Task.Run(() =>
            {
                _navigationManager.NavigateTo("");
            });
        }

        else
        {
            await _jsRuntime.InvokeVoidAsync("SweetAlert", "نام کاربری از قبل در سیستم وجود دارد", "warning");
        }
    }
}
