@foreach (var item in Newses)
{
    <div class="col-md-3">
        <div class="post-box">
            <a href="/ShowNews/@item.NewsId">
                <figure>
                    <img src="/NewsImage/@item.ImageName" alt="@item.NewsTitle">
                    <figcaption class="meta-fig">
                        <span><i class="fa fa-clock-o"></i> 99/3/20</span>&nbsp;
                        <span><i class="fa fa-comment-o"></i> 12</span>
                    </figcaption>
                    <figcaption class="view">
                        <span>بخش ویژه</span>
                        <span>انجمن</span>
                        <span>اتاق خبر</span>
                    </figcaption>
                </figure>
                <div class="text-p">
                    <h5>@item.NewsTitle</h5>
                    <p>
                        @(item.NewsDescription.Length > 100 ? item.NewsDescription?.Substring(0, 100) : item.NewsDescription?.Substring(0,item.NewsDescription.Length))
                    </p>
                    <div class="text-right">
                        <span href="#">ادامه ...</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

}

@code {

    [Parameter]
    public List<NewsBoxItemDTO> Newses { get; set; }
}
